.new-tweet {
  border-radius: 5px;
  border: 1px solid lightgrey;
  background-color: #F3F3F3;
  margin: 0em 2em 1em 2em;
  padding: 10px;
  display: block;
}

section.new-tweet:hover {
  border: 1px solid black;
}

.new-tweet > h2 {
  border-bottom: 1px solid black;
  margin: 10px 0 20px 0;
}

.new-tweet textarea {
  width: 100%;
  padding: 5px;
}

.new-tweet input {
  margin-bottom: 10px;
}

.new-tweet .counter {
  float: right;
}

.over-limit {
  color: red;
}

.tweet {
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin: 0 2em;
  margin-bottom: 10px;
}

article.tweet:hover {
  border: 1px solid black;
}

.tweet header * {
  display: inline-block;
}

.tweet header {
  background-color: #F3F3F3;
  padding: 10px;
  opacity: 0.7;
  vertical-align: super;
  position: relative;
}

.tweet header:hover {
  opacity: 1;
}

.tweet header img {
  border-radius: 5px;
}

.tweet header h2.author-name {
  margin: 0 0 0 10px;
  color: #244751;
  vertical-align: top;
}
.tweet header div.author-handle {
  position: absolute;
  right: 10px;
}

.tweet footer {
  border-top: 1px solid lightgrey;
  padding: 10px;
  font-size: 0.75em;
  position: relative;
  display: flex;
}

.tweet footer div.icons {
  color: #66C5B7;
  position: absolute;
  right: 10px;
}

.tweet footer div.icons i {
  padding: 2px;
}

.tweet .tweet-body {
  margin: 20px 10px;
  word-wrap: break-word;
}
